@media (max-width: 1200px) {
    .nav-links {
        gap: 15px; 
    }
    .nav-info {
        margin-left: 10px; 
    }

    .gitlab .gitlab-content h2 {
        font-size: 1.2em;
    }
}

@media (max-width: 1015px){
    .nav-links {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        z-index: 999;
        padding: 10px 25px;
        align-items: flex-start; 
        margin-left: 0; 
    }

    .nav-links.active {
        display: flex; 
    }

    .nav-info {
        display: none; 
    }

    .hamburger {
        display: block; 
        margin-left: auto; 
    }

    header .main {
        justify-content: space-between; 
    }

   .right-side-nav {
        display: none; 
    }

    main {
        width: 100%; 
        padding: 0 15px; 
    }
}

@media (max-width: 992px) { 
    .left-side-nav, .right-side-nav {
        width: 25%; 
    }

    .gitlab .gitlab-content h2 {
        font-size: 1em;
    }

    footer .footer-box > div {
        flex-basis: 45%; 
    }

    footer .footer-box-1 {
        flex-basis: 100%; 
        text-align: center;
    }
    footer .footer-box-1 .footer-icons {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .top-nav {
        font-size: 13px;
    }

    .left-side-nav{
        display: none; 
    }

    main {
        width: 100%; 
        padding: 0 15px; 
    }

    main section h1 {
        font-size: 2em;
    }

    .content-container .main {
        flex-direction: column; 
        align-items: center;
    }

    footer .footer-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer .footer-box > div {
        flex-basis: 100%; 
        margin-bottom: 20px;
    }

    footer .mozilla-info {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    footer .mozila-box .moz-p{
        display: none;
    }
}

@media (max-width: 566px){
    .top-nav {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .top-nav {
        font-size: 7px;
    }

    main section {
        margin: 2em 0;
        font-size: 15px;
    }

    main .mdn-help-box {
        margin: 30px 0;
        padding: 15px;
    }

    main .mdn-help-box h2 {
        font-size: 1.5em;
    }

    .gitlab .gitlab-content h2 {
        font-size: 0.75em;
        gap: 5px;
    } 

    footer .mozila-box .moz-d{
        display: none;
    }
}

@media (max-width: 375px) {
    .gitlab .gitlab-content h2 {
        font-size: 0.5em;
        gap: 2px;
    } 
}