*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

header{
    background-color: rgb(157, 0, 255);
    max-width: 100vw;
    min-height: 70px;
    /* color: black; */
}

.main{
    max-width: 1400px;
    /* height: inherit; */
    min-height: 70px;
    background-color: brown;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.main .logo-box{
    width: 14%;
    color: white;
    background-color: antiquewhite;
    color: black;
}

.main .logo-box a{
    display: flex;
    align-items: center;
    color: black;
}

.logo{
    width: 25px;
    height: 25px;
}

.logo-underline{
    width: 15px;
    height: 2px;
    background-color: #3767b1;
    margin-top: 20px;
}

.logo-box p{
    font-size: 20px;
}



